{% extends "volleyball/base_generic.html" %}
{% load i18n %}

{% block content %}
  <h1>{{ group.name }}</h1>

  {% if is_organizer %}
  <a href="{% url 'group-delete' group.id %}">{% translate "disband" %}</a>
  {% elif is_admin or is_member %}
  <a href="{% url 'group-quit' group.id %}">{% translate "leave" %}</a>
  {% elif is_pending %}
  <a href="{% url 'group-quit' group.id %}">{% translate "cancel application" %}</a>
  {% else %}
  <a href="{% url 'group-join' group.id %}">{% translate "apply to join" %}</a>
  {% endif %}

  <p><strong>{% translate "Organizer: " %}</strong>{{ group.organizer }}</p>
  <p><strong>{% translate "Court: " %}</strong>{{ group.court }}</p>
  <p><strong>{% translate "About: " %}</strong>{{ group.about|linebreaks }}</p>
  {% if is_organizer %}
  <a href="{% url 'group-update' group.id %}">{% translate "edit" %}</a>
  {% endif %}

  <hr>
  <div style="margin-left:20px;margin-top:20px">
    <h4>{% translate "Events" %}</h4>
    {% if is_organizer or is_admin or is_member %}
    <a href="{% url 'group-event-create' group.id %}">{% translate "Create Event" %}</a><br>
    {% endif %}
    <ul>
    {% for event in events %}
      <li><a href="{% url 'event-detail' event.id %}">{{ event }}</a></li>
    {% endfor %}
    </ul>

  </div>

  {% if is_organizer or is_admin %}
  {% if pending_memberships %}
  <hr>
  <div style="margin-left:20px;margin-top:20px">
    <h4>{% translate "Pending" %}</h4>
    <ul>
    {% for m in pending_memberships %}
      <li>{{ m.player }}
        <a href="{% url 'membership-member' m.id %}">{% translate "approve" %}</a>
        <a href="{% url 'membership-delete' m.id %}">{% translate "reject" %}</a>
      </li>
    {% endfor %}
    </ul>
  </div>
  {% endif %}
  {% endif %}

  <hr>
  <div style="margin-left:20px;margin-top:20px">

    <h4>{% translate "Admins" %}</h4>
    <ul>
    {% for m in admin_memberships %}
      <li>{{ m.player }}
      {% if is_organizer %}
      <a href="{% url 'membership-member' m.id %}">{% translate "to member" %}</a>
      <a href="{% url 'membership-delete' m.id %}">{% translate "delete" %}</a>
      {% endif %}
      </li>
    {% endfor %}
    </ul>

    <h4>{% translate "Members" %}</h4>
    <ul>
    {% for m in member_memberships %}
      <li>
      {{ m.player }}
      {% if is_organizer %}
        <a href="{% url 'membership-admin' m.id %}">{% translate "to admin" %}</a>
      {% endif %}
      {% if is_organizer or is_admin %}
        <a href="{% url 'membership-delete' m.id %}">{% translate "delete" %}</a>
      {% endif %}
      </li>
    {% endfor %}
    </ul>

  </div>

{% endblock %}