{% extends "volleyball/base_generic.html" %}
{% load i18n %}

{% block content %}
  <h1>Volleyball Playone</h1>
  <p>{% translate "Find out what's happening in pick-up volleyball groups around Taiwan and start meeting up with the ones near you!" %}</p>

  {% if events %}
  {% translate "My events:" %}<br>
  <ul>
    {% for event in events %}
    <li><a href="{% url 'event-detail' event.id %}">{{ event }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}

  {% if groups %}
  {% translate "My groups:" %}<br>
  <ul>
    {% for group in groups %}
    <li><a href="{% url 'group-detail' group.id %}">{{ group }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}

  {% if group_events %}
  {% translate "My group events:" %}<br>
  <table>
    {% for event in group_events %}
    <tr><td>{{ event.group }}</td><td><a href="{% url 'event-detail' event.id %}">{{ event }}</a></td></tr>
    {% endfor %}
  </table>
  {% endif %}

{% endblock %}